
params {
    gadi_account = System.getenv("PROJECT")
    whoami = 'whoami'.execute().text.trim()
    storage_account = ''
    singularityCacheDir = ''
    bed_file = "$baseDir/assets/vexas_variants.bed"
    vcf_file = "$baseDir/assets/run_01/**/*.vcf.gz"
    results_dir  = "./results" 
    containers = [
        bcftools:"/g/data/tn36/ukb_processing/containers/bcftools_latest.sif",
        ensembl_vep:"/g/data/tn36/ukb_processing/containers/ensembl-vep_latest.sif",
        annovar:"/g/data/tn36/containers/annovar_latest.sif"
    ]
}

singularity {
    enabled = true
    autoMounts = true
    autoCleanUp = true
    cacheDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"
    libraryDir = params.singularityCacheDir ? params.singularityCacheDir
        : "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity"
    temp = "/scratch/${params.gadi_account}/${params.whoami}/.nextflow/singularity/temp"
}


process {
    module = 'singularity'
    cache = 'lenient'
    executor = 'pbspro'
    scratch = true
    project = "${params.gadi_account}"
    storage = "scratch/${params.gadi_account}+gdata/${params.gadi_account}" 
}
