// standard (default) profile

params {
    bed_file = "$baseDir/assets/vexas_variants.bed"
    vcf_file = "$baseDir/assets/run_01/**/*.vcf.gz"
    results_dir  = "assets/results" 
    containers = [
        bcftools:'staphb/bcftools:1.21'
    ]
}

docker {
    runOptions = '-v ${PWD}:${PWD} -w ${PWD}'  // Bind mount the current directory into the container
    enabled = true
}

process {
    executor = 'local' 
}


